/* Style sheet created by: Long Nguyen, 17/01/2019 */

/* Style for body specifies a background color */
body {
  background-color: #FFFF99;
}

/* Style to create a fluid image */
img {
  max-width: 100%;
}

/* Style for Mobile Layout */
/* Style for container centers the page and sets the element width */
#container {
  width       : 100%;
  margin-left : auto;
  margin-right: auto;
}


/* Style for header specifies top margin, background color, rounded corners, and center-align content */
header {
  margin-top      : 0.2em;
  background-color: #FFFFFF;
  border-radius   : 0.5em;
  text-align      :center;
}

/* Style for nav specifies text properties */
nav {
  font-family   : Georgia, "Times New Roman", serif;
  font-size     : 1.25em;
  font-weight   : bold;
  text-align    : center;
}

/* Style specifies padding and margins for unordered list */
nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* */
nav li {
  background-color: #009933;
  border-radius: 2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
}

/* Style change navigation link text color to white and remove the underline */
nav li a{
  color: #FFFFFF;
  text-decoration: none;
}

/* Style displays the mobile class */
.mobile {
  display: inline;
}

/* Style hides the desktop class */
.desktop {
  display: none;
}

/* Style for main specifies a block display, text properties, margins, padding, rounded border, and shadow */
main {
  display         : block;
  font-family     : Verdana, Arial, sans-serif;
  font-size       : 1em;
  margin-top      : 0.5em;
  padding         : 1em;
  border-radius   : 1em;
  background-color: #FFFFFF;
  border-bottom   : solid 0.2em #009933;
  border-top      : solid 0.2em #009933;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
  font-size   : .70em;
  text-align  : center;
  margin-top  : 2em;
}

/* Style hides the tablet class */
.tablet {
  display: none;
}

.equip {
  display: none;
}

ul {
  margin-bottom       : 50px;
  list-style-position : inside;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 20px;
}
